[Unit]
Description=Gru
After=network.target

[Service]
Type=simple
User=gru
ExecStart=/usr/local/bin/gru serve
# Rocket looks for its config file in the CWD
WorkingDirectory=/etc/gru
Environment="ROCKET_ENV=prod"
